body {
    background-color: GhostWhite;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

h2 {
    color: darkgrey;
    text-align: center;
    font-size: 50px;
}

#ticker_div {
    width: 25%;
    float: left;
}

#tickers {
    width: 50%;
    padding: 8px 8px;
    margin: 10px 0px;
}

#strategy_div {
    float: left;
    width: 25%;
}

#portfolio_strategy {
    width:50%;
    padding: 8px 8px;
    margin: 10px 0px;
}

#custom_weights_div {
    display:none;
    width: 20%;
    float: left;
}

#custom_weights {
    width: 50%;
    padding: 8px 8px;
    margin: 10px 0px;
}

#wealth_div {
    width: 25%;
    float: left;
}

#initial_wealth {
    width: 50%;
    padding: 8px 8px;
    margin: 10px 0px;
}

#history_div {
    width: 25%;
    float:left;
}

#history {
    width: 50%;
    padding: 8px 8px;
    margin: 10px 0px;
}

#rebalancing_frequency_div {
    width: 45%;
    float:left;
}

#rebalancing_frequency {
    padding: 8px 8px;
    margin: 10px 0px;
}

#trading_cost_div {
    width:45%;
    float:left;
    padding: 8px 8px;
    margin: 10px 10px;
}

#button_div {
    clear: left;
}

input[type=submit]{
    width: 50%;
    background-color: YellowGreen;
    color: White;
    padding: 12px 12px;
    border: none;
    border-radius: 6px;
    font-weight: bolder;
}

#home_link {
    display: block;
    width: 200px;
    background-color: YellowGreen;
    color: White;
    padding: 12px 12px;
    border: none;
    border-radius: 6px;
    font-weight: bolder;
    text-decoration: none;
    text-alignment: center;
}

#wrap {
    width: 900px;
    margin: auto;
}

footer {
    font-size:10px;
}
