<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My first WebApp</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/homepage.css">
    <script src="{{ url_for('static', filename='functions.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js"
            integrity="sha512-R/QOHLpV1Ggq22vfDAWYOaMd5RopHrJNMxi8/lJu8Oihwi4Ho4BRFeiMiCefn9rasajKjnx9/fTQ/xkWnkDACg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<h1>How do transaction costs and rebalancing frequency affect portfolio value?</h1>
{% if show_input %}
<p>
    This is a simple app that shows the effect of transaction costs and rebalancing
    frequency on portfolio performance. In order to keep things simple, imagine choosing just a bunch of stocks in which
    investing your money. Once the desired stocks have been identified, the next step is to decide how to build your
    portfolio. Apart from the simple equally-weighted strategy, the classic financial theory suggests a wise choice
    would be to optimize the portfolio composition with respect to variance and expected return.
    That is, performing an optimization <a href="https://en.wikipedia.org/wiki/Markowitz_model#:
    ~:text=In%20finance%2C%20the%20Markowitz%20model%20-%20put%20forward,analyzing%20various%20possible%20portfolios%20
    of%20the%20given%20securities."> <i>à la Markowitz</i> </a>.
</p>
<p>
    The optimization process returns a weights vector that indicates how to divide the money among the selected stocks.
    Obviously, the real portfolio composition is aligned with this vector just for a small fraction of time: subsequent market
    movements will inevitably affect portfolio weights. Thus, it is necessary to decide how frequently the portfolio
    should be rebalanced. In order to closely track the theoretical optimal portfolio, the rebalancing frequency should
    occur <i>continuously</i>. It follows that the higher is the rebalancing frequency, the more precise the portfolio
    construction is.
</p>
<p>
    However, the real world poses several challenges to a <i>continuously rebalanced</i> portfolio. Indeed, the
    non-frictionless of markets would surely hamper the performance of a portfolio with this rebalancing approach. The
    main obstacle is represented by the following elements:
    <ul>
        <li><b>Transaction costs:</b> these costs are the most direct one and mainly comprehend the cost you have to
            pay to the broker handling your transactions;</li>
        <li><b>Bid-Ask spread:</b> this cost can be imputed to the action of market makers. Market makers are committed
            with providing the market with liquidity, that is ensuring that the transaction you intend to make will
            eventually find a counterpart willing to do the opposite. To do so, the market maker acts as a <i>third party</i>,
            it purchase at the bid price and sell at the ask price. The market maker then retains the bid-ask spread as a
            profit;</li>
        <li><b>Slippage:</b> this cost is relevant for less liquid stocks. It refers to the impact that your transaction
            might have on the bid/ask prices. This could result in the transaction being executed at a different price
            than the one estimated;</li>
        <li><b>Fiscal costs:</b>;</li>
    </ul>
</p>
{% endif %}
<form action="/" method="post">
    {% if show_input %}
    <hr>
    <div id="ticker_div">
        {{input_data.tickers.label}} <br> {{input_data.tickers}}
    </div>
    <div id="strategy_div">
        <label for="portfolio_strategy">
            Portfolio strategy:
            <br>
            <select onchange="showCustomInput(this)" name="portfolio_strategy" id="portfolio_strategy">
                <option selected="selected" value="EW">Equally Weighted</option>
                <option value="GMV">Global Minimum Variance Portfolio</option>
                <option value="MSR">Tangency Portfolio</option>
                <option value="custom">Custom Weights</option>
            </select>
        </label>
    </div>
    <div id="custom_weights_div">
        {{input_data.custom_weights.label}} <br> {{input_data.custom_weights}}
    </div>
    <div id="history_div">
        {{input_data.data_length.label}} <br> {{input_data.data_length}}
    </div>
    <div id="wealth_div">
        {{input_data.initial_wealth.label}} <br> {{input_data.initial_wealth}}
    </div>
    <div id="button_div" align="center">
        {{input_data.button}}
    </div>
    {% endif %}
    {% if not show_input %}
    <p>
        You have chosen a portfolio of {{tickers|count}} stocks. Play with the chart below and see how
        rebalancing frequency and trading costs impact on your final portfolio value.
    </p>
    <br>
    <br>
    {% endif %}
    <hr>
     {% if show_chart %}
        <div id="wrap" align="center">
            <div id="tc_rf_input">
            <div id="trading_cost_div">
                <label>
                    Trading cost:
                    <input oninput="updateTC(this);amount.value=tc_rangevalue[tc.value]" type="range" id="tc_range"
                           min="0"
                           max="49" value="0">
                    <output id="amount" name="amount" for="tc_range"> 0%</output>
                </label>
            </div>
            <div id="rebalancing_frequency_div">
                <label for="rebalancing_frequency">Rebalancing Frequency:</label>
                <select onchange="updateRF(this)" name="rebalancing_frequency" id="rebalancing_frequency">
                    <option selected="selected" value="0">Daily</option>
                    <option value="1">Weekly</option>
                    <option value="2">Monthly</option>
                    <option value="3">Quarterly</option>
                    <option value="4">Semi-Annually</option>
                    <option value="5">Annually</option>
                </select>
            </div>
            </div>
            <div>
            <canvas id="chart" width="1000" height="600"></canvas>
            <script>
            Chart.register(ChartDataLabels);
            const tc_rangevalue = {{tc_rangevalue | safe}}
            const labels = {{labels | safe}}
            const gross = {{gross | safe}}
            const net = {{net | safe}}
            const data = {
                labels: labels,
                datasets:
                    [{
                    label: "Gross Value",
                    data: gross[0],
                    borderColor: "blue",
                    fill: false,
                    borderWidth: 1,
                    backgroundColor: "blue",
                    pointRadius: 0,
                    tension: 0.2
                    },
                    {
                    label: "Net Value",
                    data: net[0][0],
                    borderColor: "red",
                    fill: false,
                    borderWidth: 1,
                    backgroundColor: "red",
                    pointRadius: 0,
                    tension: 0.2
                    }
                ]}
            var ctx = document.getElementById("chart").getContext("2d");
            const chart = new Chart(ctx, {
                type: "line",
                data: data,
                options: {
                    responsive: false,
                    layout: {
                        padding: {
                            right: 100
                        }
                    },
                    plugins: {
                        tooltip: {
                            callbacks: {
                                title: context => {
                                    console.log(context);
                                    return context[0].label.slice(0,12).replace(/,(\s+)?$/, '');
                                },
                                label: context => {
                                    console.log(context);
                                    return "$" + context.formattedValue;
                                }
                            }
                        },
                        datalabels: {
                            formatter: context => {
                                console.log(context);
                                return context.toLocaleString("en-US",{style:"currency", currency:"USD"});
                            },
                            anchor: "right",
                            align: "right",
                            display: function(context) {
                                console.log(context.dataIndex[-1])
                                return (context.dataIndex === context.dataset.data.length-1);
                            }
                        },
                        title: {
                        display: true,
                        text: "Portfolio Evolution",
                        font: {
                            size: 20
                            }
                        },
                        legend: {
                            position: "bottom"
                        },
                    },
                    scales: {
                        x: {
                            grid: {
                                display: false
                            },
                            type: "time",
                            time: {
                                unit: "day",
                                displayFormats: {
                                day: 'MMM yyyy'
                            }
                            },
                            title : {
                                display: true,
                                text: 'Time',
                                font: {
                                    size: 14,
                                    weight: 'bold',
                                    lineHeight: 1.2,
                                    }
                            },
                        },
                        y: {
                            grid: {
                                display: true
                                },
                            ticks: {
                            callback: function(value, index, ticks) {
                                return value.toLocaleString("en-US",{style:"currency", currency:"USD"});
                                }
                            },
                            title : {
                                display: true,
                                text: 'Market Value',
                                font: {
                                    size: 14,
                                    weight: "bold",
                                    lineHeight: 1.2,
                                }
                            }
                        }
                    }
                }
            });
            const tc = document.getElementById("tc_range");
            const rb = document.getElementById("rebalancing_frequency");

            </script>
            </div>
        </div>
    <hr>
    <div align="center">
        <a href="/" id="home_link">Create another portfolio</a>
    </div>
    {% endif %}
</form>
<br>
<footer>
    This product uses the FRED® API but is not endorsed or certified by the Federal Reserve Bank of St. Louis.
</footer>
</body>
</html>
